.App {
  background: #E0DCD5;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Increase padding on smaller screens */
@media (max-width: 2400px) {
  .App {
    padding: 30px;
  }
}

@media (max-width: 1600px) {
  .App {
    padding: 40px;
  }
}

